<#import "/base/bms.html" as bms>
<#import "/base/func.html" as func>

	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb panel">
                    <li><a href="#"><i class="fa fa-home"></i> 酒店及会议室信息发布平台</a></li>
                    <li><a href="#">模块管理</a></li>
                    <li class="active">列表</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<section class="panel">
					<@func.queryForm "${ctx}/template/list">
				    	<div class="form-group">
					    	<label for="templateName" class="control-label text-right">模版名称:</label>
					    	<input type="text" class="form-control" name="search_templateName" id="templateName" value="${searchParams.templateName!''}">
					  	</div>
					  	<div class="form-group">
					    	<label for="startTime" class="control-label text-right">起始日期:</label>
					    	<input type="text" class="form-control date-picker" name="search_startTime" id="startTime" value="${searchParams.startTime!''}">
					  	</div>
					  	<div class="form-group">
					    	<label for="endTime" class="control-label text-right">结束日期:</label>
					    	<input type="text" class="form-control date-picker" name="search_endTime" id="endTime" value="${searchParams.endTime!''}">
					  	</div>
					  	<button class="btn btn-primary" type="submit">查询</button>
				      	<a target="_blank" class="btn btn-success" href="${ctx}/template/new">新  增</a>
					</@func.queryForm>
					
					<hr/>
					<@func.table>
				    	<thead>
				          <tr>
				            <th>模版名称</th>
				            <th>模版类型</th>
				            <th>描述</th>
				            <th>创建时间</th>
				            <th>操作</th>
				          </tr>
				        </thead>
				        <#list page.itemList as item>
				           <tr>
				              <td>${item.templateName}</td>
				              <td>${item.templateType}</td>
				              <td>${item.templateDescription}</td>
				              <td>${item.templateCreateTime?string("yyyy-MM-dd HH:mm")}</td>
				              <td>
				              	  <a target="_blank" class="btn btn-xs btn-info" href="${ctx}/template/update/${item.id}">编辑</a>
				                  <a ajaxToDo class="btn btn-xs btn-danger" href="${ctx}/template/delete/${item.userId}">删除</a>
				              </td>
				           </tr>
						</#list>
				    </@func.table>
				    <#import "/base/pagination.html" as pagination>
					<@pagination.page page/>
				</section>
			</div>
		</div>
		
	</div>
	


