
		  
    div.freedrag {
        position: relative !important;
        width: 200px;
        height: 200px;
        border: 1px solid #cacaca;
        top: 0;
        left: 0;
        
    }
    
    
 
    